<!DOCTYPE html>
<html>
<head>
  <title>ReactRailsSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
